@use "./reset";
@use "./phone-input";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
  @extend %unscroll;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  animation: scroll-left 40s linear infinite;
  display: flex;
}

//

.burger__button {
  position: absolute;

  // overflow: hidden;
  right: -15px;
  display: block;
  transform: scale(0.47);
  z-index: 1000;

  label {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;

    @media (max-width: 700px) {
      cursor: default;
    }
  }

  label span {
    background: #000000;
    border-radius: 10px;
    height: 5px;
    margin: 7px 0;
    transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: -50%;
  }

  span:nth-of-type(2) {
    width: -100%;
  }

  span:nth-of-type(3) {
    width: -75%;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(13px, 12px);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    background: transparent;
    transform: translate(3px, -20px) rotatez(45deg);
  }
}

.notify.success {
  background: #2ecc71 !important;
  color: white !important;
  width: 200px;
  display: flex;
  text-align: center;
}

.notify.error {
  background: #e74c3c !important;
  width: 200px;
  display: flex;
  text-align: center;
}

.notify.warning {
  background: #f39c12 !important;
  color: black !important;
  width: 200px;
  display: flex;
  text-align: center;
}

.notify.default {
  background: #2c3e50 !important;
  width: 200px;
  display: flex;
  text-align: center;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

// .animate-scroll-left {
//   display: flex;
//   animation: scroll-left 20s linear infinite;
//   /* Важно: ширина контейнера должна быть в 2 раза больше одного блока */
// }

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-left {
  animation: scroll-left 20s linear infinite;
}

.scroll-left:hover {
  animation-play-state: paused;
}

.scroll-left {
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll-left 50s linear infinite;
}
